.places__paragraph {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin-bottom: 26px;
  margin-top: 0;
  width: 100%
  /*min-height: 145px;*/
}
.places__paragraph:last-child {
  margin-bottom: 0;
}