.header {
   /*max-width: 1184px;*/
    max-width: 100%;
    /*width: 1184px;*/
    min-height: 52px;
    /*border: 1px solid red;*/
    padding: 28px 48px 0;
    display: flex;
    justify-content: space-between;
}