.lead__subtitle {
    max-width: 640px;
    min-height: 72px;
    margin: 32px 172px 64px;
  font-family: Inter;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
  /*border: 1px solid yellow;*/
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
  margin: 32px 144px 56px;         /*Было 172 по середине*/
  }
 
}
@media screen and (min-width: 768px) and (max-width: 923px) {
  .lead__subtitle {
    margin: 32px 64px 56px;
  }
}