.cover {
    display: flex;
    flex-direction: column;
    width: 1184px;
    min-height: 740px;
    border: 1px solid yellow;
    margin: 92px auto 0;
    background-image: url(../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    position: relative;
    z-index: 0;  
}

.cover::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2A2C2F;
    opacity: .3;
    z-index: -1;
    transition: opacity .3s ease;
}

.cover:hover::before {
    opacity: .8;
}