.cover__title {
  font-family: Inter;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: center;     
  color:white;
  margin: 245px 312px 32px;
  padding: 0;
  text-decoration: none;
  width: 560px;
  min-height: 152px;
  transition: opacity .3s ease;
}


.cover__title:hover {
  opacity: .8;
}

@media screen and (max-width: 1185px) { /*1024*/
  .cover__title {
    margin: 195px 232px 32px;
  }
  
}
@media screen /*and /*(min-width: 768px)*/ and (max-width: 1023px) {  /*1023*/
  .cover__title {
    margin: 115px 104px 32px;
  }
  
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover__title {
    margin: 33px 16px 16px;
    font-size: 32px;
    line-height: 35px;
    width: 288px;
    min-height: 70px;
  }

}